html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
img,
input,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular");
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  src: url(../fonts/Inter-Regular.woff) format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: local("Inter Bold"), local("Inter-Bold");
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  src: url(../fonts/Inter-Bold.woff) format("woff");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

.container {
  max-width: 986px;
  margin: 0 auto;
  font-family: "Inter", "Open Sans", sans-serif;
}

.body-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background: linear-gradient(92.33deg, #087990 0.12%, #055160 100%);
  border-bottom: 1px solid #CED4DA;
}
.header__wrapper {
  padding-top: 68px;
}
.header__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #CFF4FC;
}
.header__subtitle {
  margin-bottom: 68px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #CFF4FC;
}
.header__input {
  position: relative;
  top: 32px;
  width: 820px;
  height: 64px;
  margin: 0 auto;
  padding-left: 32px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}
.header__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #ABB5BE;
}
.header__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #ABB5BE;
}
.header__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #ABB5BE;
}
.header__input:focus {
  outline: none;
}

.main {
  flex: 1 1 auto;
  background: #EDEEF3;
}
.main__wrapper {
  padding-top: 80px;
  padding-bottom: 50px;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 316px);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
  gap: 22px 19px;
}

.grid__item {
  padding: 24px;
  height: 184px;
  background: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

.item {
  text-align: center;
}
.item__symbol {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 18px;
}
.item__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.item__keywords {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3F444A;
}

.footer {
  background: #EDEEF3;
}
.footer__wrapper {
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid #CED4DA;
}
.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #6C757D;
}/*# sourceMappingURL=styles.css.map */